body{ background: rgb(252,223,210);background: linear-gradient(90deg, rgba(252,223,210,1) 0%, rgba(255,245,220,1) 100%);}

.pos
{
  position: absolute;
  right:    20px;
  bottom:   20px;
}

.my-float
{
    margin-top:22px;
}
